arranca configurando tu configurando tu coneccion a mysql

si no entendes lo que esta abajo buscalo en youtube flaco

In [2]:
db_host = "127.0.0.1" # Cambia esto por tu servidor MySQL
db_name = "docentes" # Cambia esto por tu base de datos
db_user = "root" # Cambia esto por tu usuario MySQL
db_password = "Root" # Cambia esto por tu contraseña MySQL

In [3]:
import mysql.connector
from mysql.connector import Error

def connect_to_database():
    try:
        connection = mysql.connector.connect(
                host=db_host,
                database=db_name,
                user=db_user,
                password=db_password
            )
        
        if connection.is_connected():
            cursor = connection.cursor()
            cursor.execute("SHOW TABLES")
            tables = cursor.fetchall()
            
            print("Nombres de las tablas en la base de datos:")
            for table in tables:
                print(table[0])
                
            cursor.close()
            connection.close()
            print("Conexión a MySQL cerrada")
    
    except Error as e:
        print(f"Error al conectar a MySQL: {e}")

if __name__ == "__main__":
    connect_to_database()

Nombres de las tablas en la base de datos:
actividades_no_estatales
autor_de
cargos
certificaciones_extras
certificaciones_profesionales
contactos
creaciones
cursos
declaracion_ane
declaracion_jurada
dependencias
direcciones
docentes
es_beneficiario
extension_universitaria
familiares
horarios
idiomas
instituciones
intereses_pasivos
investigacion
localidad
obra_social
os_cargo
os_fam
percepcionespasivas
polizas_obra_social
publicaciones
reuniones_cientificas
se_certifico_ext
se_certifico_prof
seguros
seguros_dep
titulos
trabajo
ubicacion_docentes
ubicacion_familiares
Conexión a MySQL cerrada

Si arriva estan todas tu tablas vas bien flaco sino sos bastante salame 

mira como soy buena persona te pasaso el [link del un peruano de como conectarlo](https://www.youtube.com/watch?v=RgLzqIFZg8s&t=314s)

suponiendo que hiciste las cosas bien segui con esto nene temos que ver que datos hay que crear para cada tabla yo voy hacer los que yo nesecito para mi modelo relacional vos fijate si cazas alguna idea de como yo lo hago para hacer tu trabajo

In [5]:
import pandas as pd
import mysql.connector



# Conexión a la base de datos
conn = mysql.connector.connect(
    host=db_host,
    database=db_name,
    user=db_user,
    password=db_password
)

# Cursor para ejecutar consultas
cursor = conn.cursor()

# Consulta para obtener información de las tablas y columnas
query = """
    SELECT 
        TABLE_NAME, 
        COLUMN_NAME, 
        DATA_TYPE
    FROM 
        INFORMATION_SCHEMA.COLUMNS 
    WHERE 
        TABLE_SCHEMA = %s
    ORDER BY TABLE_NAME
"""

# Ejecutar la consulta y obtener los resultados
cursor.execute(query, (db_name,))
results = cursor.fetchall()

# Inicializar variables para mantener el nombre de la tabla actual
current_table = None

# Recorrer los resultados y mostrar la información en el formato deseado
for result in results:
    table_name = result[0]
    column_name = result[1]
    data_type = result[2]
    
    # Si cambiamos de tabla, mostrar el nombre de la nueva tabla
    if table_name != current_table:
        print(f"\n{table_name}\n")
        current_table = table_name
    
    # Mostrar el nombre de la columna y su tipo de dato
    print(f"{column_name} {data_type}")

# Cerrar el cursor y la conexión a la base de datos
cursor.close()
conn.close()

actividades_no_estatales

actividadesNoEstatalesCargo varchar
actividadesNoEstatalesEmpresa varchar
actividadesNoEstatalesIda int
actividadesNoEstatalesTipo varchar

autor_de

autorDeDni int
autorDeFecha date

cargos

cargosCaracter varchar
cargosCatedra varchar
cargosDedicacion double
cargosIdc int
cargosNombre varchar
cargosNombredep varchar
cargosNombredepIdi int
cargosTiempo double
cargosUnidadacad varchar

certificaciones_extras

certificacionesExtrasDesde date
certificacionesExtrasHasta date
certificacionesExtrasIdce int

certificaciones_profesionales

certificacionesProfIdcp int
certificacionesProfNivel varchar
certificacionesProfTitulo varchar

contactos

contactosDni int
contactosMedio varchar
contactosNumDir varchar
contactosTipo varchar

creaciones

creacionesFecha date
creacionesTitulo varchar

cursos

cursosDescripcion text
cursosIdce int
cursosNombre varchar

declaracion_ane

declaracionAneAño date
declaracionAneDni int
declaracionAneFechaIng date
declaracionAneHasta date
declaracionAneIda int
declaracionAneLugar varchar

declaracion_jurada

declaracionJuradaAño date
declaracionJuradaDni int

dependencias

dependenciasIdi int
dependenciasNombre varchar

direcciones

direccionesBarrio varchar
direccionesCalle varchar
direccionesCodPostal int
direccionesDpto int
direccionesIdi int
direccionesNombreDependencia varchar
direccionesNumero int
direccionesPiso int
direccionesTipo varchar

docentes

docenteApellido varchar
docenteCuit bigint
docenteDni int
docenteEstado_civil varchar
docenteFecha_nac date
docenteNacionalidad varchar
docenteNombre varchar
docenteSexo varchar

es_beneficiario

esBeneficiarioDdni int
esBeneficiarioFdoc int
esBeneficiarioNombre varchar
esBeneficiarioStipo varchar
esBeneficiarioTipDoc varchar

extension_universitaria

extensionAcciones text
extensionDedicacion double
extensionIdce int

familiares

familiaresApellido varchar
familiaresDdni int
familiaresDni int
familiaresFechaNac date
familiaresNombre varchar
familiaresParentesco varchar
familiaresPorcentaje int
familiaresTipDoc varchar

horarios

horariosDia date
horariosHora time
horariosIdc int

idiomas

idiomasIdcp int
idiomasIdioma varchar

instituciones

institucionesIdi int
institucionesNombre varchar

intereses_pasivos

intPasivosCaja varchar
intPasivosCausa varchar
intPasivosDesde date
intPasivosDni int
intPasivosRegimen varchar

investigacion

investigacioAreappal varchar
investigacionCategoria varchar
investigacionDescrip text
investigacionIdce int

localidad

localidadCodPostal int
localidadNombre varchar
localidadProvincia varchar

obra_social

obraSocialNombre varchar
obraSocialTipoPlan char

os_cargo

osCargoIdc int
osCargoNropoliza int

os_fam

osFamDdni int
osFamFdoc int
osFamNropoliza int
osFamTdoc varchar

percepcionespasivas

pasivosCaja varchar
pasivosCausa varchar
pasivosEstado varchar
pasivosRegimen varchar

polizas_obra_social

polizasObraSocialDdni int
polizasObraSocialDescripcion text
polizasObraSocialNombre varchar
polizasObrasocialNropoliza int

publicaciones

publicacionesAutores varchar
publicacionesFecha date
publicacionesReferencias text

reuniones_cientificas

reunionesCientificacasFecha date
reunionesCientificasParticion varchar

se_certifico_ext

seCertExtdni int
seCertExtidce int

se_certifico_prof

seCertificoProfdni int
seCertificoProfidcp int

seguros

segurosdescripcion text
segurosDni int
segurosNombre varchar
segurosTipo varchar

seguros_dep

segurosDepDnombre varchar
segurosDepIdi int
segurosDepSnombre varchar
segurosDepStipo varchar

titulos

titulosDesde date
titulosHasta date
titulosIdcp int

trabajo

trabajoAño date
trabajoDni int
trabajoFechaIng date
trabajoHasta date
trabajoIdc int
trabajoObservaciones text

ubicacion_docentes

UbicacionDocentesCalle varchar
UbicacionDocentesCodPostal int
UbicacionDocentesDni int
UbicacionDocentesNumero int

ubicacion_familiares

UbicacionFamiliaresCalle varchar
UbicacionFamiliaresCodPostal int
UbicacionFamiliaresDdni int
UbicacionFamiliaresDni int
UbicacionFamiliaresNumero int
UbicacionFamiliaresTipDoc varchar

vamos a arrancar con contactos

In [23]:
#contactos

#contactosNumDir varchar  esto se va a crear desde una funcion segun el tipo de contacto
#contactosTipo varchar    esto es una lista al azar
#contactosMedio varchar   esto es una lista al azar
#contactosDni int         esto se va seleccionar primero al azar desde una lista

In [11]:
import mysql.connector

def contactosDni(db_host, db_user, db_password, db_name):
    # Crear una conexión a la base de datos MySQL
    conn = mysql.connector.connect(
        host=db_host,
        user=db_user,
        password=db_password,
        database=db_name
    )

    # Crear un cursor
    cursor = conn.cursor()

    # Ejecutar la consulta
    cursor.execute("SELECT docenteDni, docenteNombre, docenteApellido FROM docentes")

    # Obtener los resultados
    resultado = cursor.fetchall()

    # Crear el diccionario de resultados
    contactos = {}
    for row in resultado:
        dni, nombre, apellido = row
        contactos[dni] = [nombre, apellido]
        
    # Cerrar el cursor y la conexión
    cursor.close()
    conn.close()

    # Devolver el diccionario de contactos
    return contactos

# Llamar a la función y mostrar el resultado


contactos = contactosDni(db_host, db_user, db_password, db_name)
lista_dni = list(contactos.keys())

print(contactos, lista_dni)

{12525137: ['Fernanda', 'Asensio'], 14022543: ['Margarita', 'Molina'], 14204107: ['Tamara', 'Suero'], 14274546: ['Sofía', 'Palomares'], 14561217: ['Mario', 'Vidal'], 15598583: ['Silvestre', 'Mata'], 15734438: ['Salvador', 'Valencia'], 16512861: ['Anacleto', 'Conde'], 17288443: ['Benito', 'Ortega'], 17695299: ['Ariel', 'Carrasco'], 18043296: ['Rogelio', 'Cuenca'], 19041230: ['Sergio', 'Cano'], 19591175: ['Isabel', 'Santana'], 19609526: ['Fernanda', 'Gallardo'], 19660442: ['Lidia', 'Sabater'], 19699229: ['Eva', 'Salcedo'], 21669074: ['Renato', 'Roca'], 22562173: ['Toribio', 'Pacheco'], 22693230: ['Helena', 'Bueno'], 22888404: ['Gilberto', 'Navarro'], 23005118: ['Aída', 'Salvá'], 23802040: ['Mara', 'Barroso'], 24146730: ['Santos', 'Santana'], 24239014: ['Ramiro', 'Castaño'], 24615504: ['Inés', 'Caro'], 24860414: ['Fortunato', 'Colomer'], 25530151: ['Ladislao', 'Vázquez'], 25705056: ['Cecilia', 'Morales'], 26558081: ['Patricio', 'Rey'], 26822515: ['Yago', 'Romero'], 28102954: ['Olegario', 'Navas'], 28798176: ['Sancho', 'Izquierdo'], 28856202: ['Sofía', 'Ramos'], 29117237: ['Mara', 'Aguado'], 30081554: ['Daniela', 'Ruiz'], 31059783: ['Tristán', 'Martín'], 34925870: ['Bienvenido', 'Vicente'], 35171918: ['Emilia', 'Chacón'], 35413407: ['Perfecto', 'Moliner'], 35847312: ['Jairo', 'Otero'], 36296533: ['Pedro', 'Pérez'], 36423973: ['Héctor', 'Cuenca'], 36716260: ['Camila', 'Soler'], 36844836: ['Elisa', 'Roldán'], 36912425: ['Susana', 'Vera'], 37435567: ['Federico', 'Rico'], 37457060: ['Salvador', 'Ramos'], 38169608: ['Alma', 'Casas'], 38516877: ['Andrés', 'Flores'], 38897515: ['Sara', 'Arenas']} [12525137, 14022543, 14204107, 14274546, 14561217, 15598583, 15734438, 16512861, 17288443, 17695299, 18043296, 19041230, 19591175, 19609526, 19660442, 19699229, 21669074, 22562173, 22693230, 22888404, 23005118, 23802040, 24146730, 24239014, 24615504, 24860414, 25530151, 25705056, 26558081, 26822515, 28102954, 28798176, 28856202, 29117237, 30081554, 31059783, 34925870, 35171918, 35413407, 35847312, 36296533, 36423973, 36716260, 36844836, 36912425, 37435567, 37457060, 38169608, 38516877, 38897515]

In [16]:
palabras_absurdas = [
    "bizantinamente", "rocambolesco", "piramidalmente", "esotérico", "luminiscente",
    "quijotesco", "exótico", "efervescente", "cacofónico", "perspicaz", "hiperbólico",
    "paradójico", "polifacético", "intrincado", "efímero", "obscuro", "efluvio",
    "desquiciado", "estratosférico", "apócrifo", "ecuánime", "lúdico", "megalómano",
    "insólito", "anacrónico", "hipotético", "fantasmagórico", "bizarro", "anómalo",
    "quirúrgico", "sideral", "ambivalente", "galáctico", "extravagante", "volátil",
    "enigmático", "anárquico", "surrealista", "ensordecedor", "delirante", "caótico",
    "elocuente", "frenético", "utópico", "delirio", "arcano", "sublime", "transcendental",
    "catastrófico", "efígero", "efluvio", "ficción", "perdurable", "insondable",
    "intrépido", "invencible", "efervescente", "ecléctico", "exotérico", "exótico",
    "quimérico", "inefable", "inmarcesible", "lúgubre", "luminiscente", "meridiano",
    "nefelibata", "paradójico", "quimera", "rocambolesco", "sideral", "tedioso",
    "ultratumba", "verbígracia", "vicisitud", "xenofobia", "yermos", "zoquete",
    "añicos", "céfiros", "delirio", "escoria", "flebitis", "gargajo", "hediondo",
    "íntegro", "júbilo", "lóbrego", "mugriento", "ósculo", "pazguato", "quimera",
    "repollo", "saxofón", "terruño", "uva", "vómito", "xis", "yacimiento", "zigzag"
]


dominios_email = [
    "@hotmail.com", "@gmail.com", "@yahoo.com", "@outlook.com", "@aol.com",
    "@icloud.com", "@protonmail.com", "@mail.com", "@zoho.com", "@yandex.com"
]

separadores_email = ['.', '_', '-', '+']

In [32]:
#cotanctoMedio
import numpy as np
import random

medios =['Telefono','Celular','Mail']

#contactoTipo

tipos = ['Laboral','Personal','otro']

def crear_contacto(tipo, medio ,nombre, apellido):
    if medio == 'Mail':
        if tipo == 'Personal':
            return (nombre + np.random.choice(palabras_absurdas) + np.random.choice (dominios_email))
        else:
            return (nombre + np.random.choice(separadores_email) + apellido + np.random.choice (dominios_email))
    else:
        return random.randint(10000000, 99999999)

creo dataframe

In [37]:
import pandas as pd

df_contactos = pd.DataFrame(columns=['contactosDni', 'contactosMedio', 'contactosNumDir', 'contactosTipo'])

df_contactos

Empty DataFrame
Columns: [contactosDni, contactosMedio, contactosNumDir, contactosTipo]
Index: []

creo data frame

creo la funcion crear docente

In [38]:
import pandas as pd
import numpy as np

def crear_df_contacto(dataframe):
    
    contactosDni = np.random.choice(lista_dni)
    datos = contactos[contactosDni]
    contactosMedio = np.random.choice(medios)
    contactosTipo = np.random.choice(tipos)
    contactosNumDir = crear_contacto(contactosTipo, contactosMedio, datos[0], datos[1])
    
    new_data = pd.DataFrame([{'contactosDni': contactosDni, 'contactosMedio': contactosMedio, 'contactosNumDir': contactosNumDir, 'contactosTipo': contactosTipo}])
    dataframe = pd.concat([dataframe, new_data], ignore_index=True)
    
    return dataframe

In [39]:
for _ in range(50):
    df_contactos = crear_df_contacto(df_contactos)


df_contactos

   contactosDni contactosMedio                 contactosNumDir contactosTipo
0      23005118        Celular                        39223892          otro
1      19660442       Telefono                        72854609      Personal
2      37457060       Telefono                        56780874      Personal
3      22562173           Mail      Toribio+Pacheco@yandex.com       Laboral
4      30081554        Celular                        64206602       Laboral
5      30081554           Mail   Danielacéfiros@protonmail.com      Personal
6      36423973       Telefono                        40529510          otro
7      28102954       Telefono                        40854859          otro
8      22888404        Celular                        68432978      Personal
9      19660442           Mail        Lidiacacofónico@mail.com      Personal
10     19660442           Mail            Lidialúgubre@aol.com      Personal
11     30081554        Celular                        50425420      Personal
12     14274546       Telefono                        14173496       Laboral
13     36716260        Celular                        35605411      Personal
14     19609526        Celular                        67855454      Personal
15     26822515        Celular                        64930870      Personal
16     17288443       Telefono                        73979570      Personal
17     23005118       Telefono                        66091367       Laboral
18     28856202       Telefono                        25191347          otro
19     14022543       Telefono                        30540963       Laboral
20     38516877           Mail       Andréssideral@hotmail.com      Personal
21     24860414        Celular                        29814293      Personal
22     35413407           Mail  Perfectoluminiscente@yahoo.com      Personal
23     17288443        Celular                        29410983       Laboral
24     36844836           Mail          Elisaanárquico@aol.com      Personal
25     15734438       Telefono                        24569607      Personal
26     24615504        Celular                        40711807      Personal
27     16512861       Telefono                        94239354       Laboral
28     26558081           Mail     Patricio+Rey@protonmail.com       Laboral
29     36912425       Telefono                        73983793       Laboral
30     31059783       Telefono                        74534642      Personal
31     19699229       Telefono                        32068830       Laboral
32     19609526       Telefono                        97182677          otro
33     14561217        Celular                        36372842      Personal
34     17695299           Mail      Ariel+Carrasco@hotmail.com       Laboral
35     14204107       Telefono                        57137585      Personal
36     15598583        Celular                        33225379       Laboral
37     36912425       Telefono                        21156625      Personal
38     36423973        Celular                        11334664      Personal
39     21669074       Telefono                        79737739      Personal
40     26822515       Telefono                        45260498          otro
41     37457060        Celular                        11228104      Personal
42     28102954        Celular                        59845165          otro
43     14274546       Telefono                        78783599      Personal
44     36296533           Mail           Pedroefluvio@mail.com      Personal
45     28856202           Mail          Sofíasublime@yahoo.com      Personal
46     22693230           Mail      Helenasurrealista@zoho.com      Personal
47     35171918           Mail           Emiliasideral@aol.com      Personal
48     36716260        Celular                        57874779      Personal
49     35171918        Celular                        94214579          otro

In [40]:
# Nombre de la tabla en MySQL
tabla_mysql = 'contactos' # camibia aca tu tabla

In [41]:
import pandas as pd
from sqlalchemy import create_engine

# Parámetros de conexión


# Crear una cadena de conexión con SQLAlchemy
connection_string = f'mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}'
engine = create_engine(connection_string)

# Cargar el DataFrame a MySQL
df_contactos.to_sql(name=tabla_mysql, con=engine, index=False, if_exists='append')

# Cerrar la conexión
engine.dispose()

visulizar si se crearon

In [42]:
import pandas as pd
import mysql.connector

# Crear una conexión a la base de datos MySQL
conn = mysql.connector.connect(
    host=db_host,
    user=db_user,
    password=db_password,
    database=db_name
)

# Leer los datos de la tabla en un DataFrame
query = f"SELECT * FROM {tabla_mysql}"
df = pd.read_sql(query, conn)

# Mostrar la tabla en la consola
print(df)

# Cerrar la conexión
conn.close()

                   contactosNumDir contactosTipo contactosMedio  contactosDni
0                         11228104      Personal        Celular      37457060
1                         11334664      Personal        Celular      36423973
2                         14173496       Laboral       Telefono      14274546
3                         21156625      Personal       Telefono      36912425
4                         24569607      Personal       Telefono      15734438
5                         25191347          otro       Telefono      28856202
6                         29410983       Laboral        Celular      17288443
7                         29814293      Personal        Celular      24860414
8                         30540963       Laboral       Telefono      14022543
9                         32068830       Laboral       Telefono      19699229
10                        33225379       Laboral        Celular      15598583
11                        35605411      Personal        Celular      36716260
12                        36372842      Personal        Celular      14561217
13                        39223892          otro        Celular      23005118
14                        40529510          otro       Telefono      36423973
15                        40711807      Personal        Celular      24615504
16                        40854859          otro       Telefono      28102954
17                        45260498          otro       Telefono      26822515
18                        50425420      Personal        Celular      30081554
19                        56780874      Personal       Telefono      37457060
20                        57137585      Personal       Telefono      14204107
21                        57874779      Personal        Celular      36716260
22                        59845165          otro        Celular      28102954
23                        64206602       Laboral        Celular      30081554
24                        64930870      Personal        Celular      26822515
25                        66091367       Laboral       Telefono      23005118
26                        67855454      Personal        Celular      19609526
27                        68432978      Personal        Celular      22888404
28                        72854609      Personal       Telefono      19660442
29                        73979570      Personal       Telefono      17288443
30                        73983793       Laboral       Telefono      36912425
31                        74534642      Personal       Telefono      31059783
32                        78783599      Personal       Telefono      14274546
33                        79737739      Personal       Telefono      21669074
34                        94214579          otro        Celular      35171918
35                        94239354       Laboral       Telefono      16512861
36                        97182677          otro       Telefono      19609526
37       Andréssideral@hotmail.com      Personal           Mail      38516877
38      Ariel+Carrasco@hotmail.com       Laboral           Mail      17695299
39   Danielacéfiros@protonmail.com      Personal           Mail      30081554
40          Elisaanárquico@aol.com      Personal           Mail      36844836
41           Emiliasideral@aol.com      Personal           Mail      35171918
42      Helenasurrealista@zoho.com      Personal           Mail      22693230
43        Lidiacacofónico@mail.com      Personal           Mail      19660442
44            Lidialúgubre@aol.com      Personal           Mail      19660442
45     Patricio+Rey@protonmail.com       Laboral           Mail      26558081
46           Pedroefluvio@mail.com      Personal           Mail      36296533
47  Perfectoluminiscente@yahoo.com      Personal           Mail      35413407
48          Sofíasublime@yahoo.com      Personal           Mail      28856202
49      Toribio+Pacheco@yandex.com       Laboral           Mail      22562173

C:\Users\lucas\AppData\Local\Temp\ipykernel_7964\3116484817.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)